<!DOCTYPE html>
<html>
<head>
<title>{{username}}'s BlogSpot!</title>
</head>
<center>
<h1>Hey {{username}}!</h1>
<body>
<br><br>
<form action="/newblog" method="POST">
  Title: <textarea name="title" rows="1" cols="60">{{oldtitle}}</textarea>
  <textarea name="blog" rows="20" cols="60">{{oldpost}}</textarea>
  <br><br><br>
<input type="submit">
</form>
<br><br>
<form action="home" method="POST">
<input type ="submit" name="submit" value="Home">
</form>
<br><br>
<form action="/loggedout" method="POST">
<input type ="submit" name="submit" value="Logout">
</form>
</center>
</body>
</html>
