<!DOCTYPE html>
<html>
<head>
<title>{{username}}'s BlogStop</title>
<center>
<h1>Hello {{username}}!</h1>
<br> <br>
<body>
<form action="/redirection2" method="POST">
<button type ="submit" name="submit" value="Make New Blog"><font size="6">Make New Blog</font></button><br><br><br>
<button type ="submit" name="submit" value="View and Edit Old Blogs"><font size="6">View/Edit Old Blogs</font></button><br><br><br>
<button type ="submit" name="submit" value="See Other Blogs"><font size="6">View Other Users' Blogs</font></button><br><br><br>
<button type ="submit" name="submit" value="Logout"><font size="6">Logout</font></button><br><br><br>
</center>
</body>
</head>
</html>
