<!DOCTYPE html>
<html>
<head>
<title>Welcome to BlogStop!</title>
</head>
<body>
<center>
<font size="12">
<h1><b>Welcome to BlogStop!</b></h1>
</font>
<font size="6">
Welcome to the most original blogging space in the enitre world! Here, you can share your thoughts, see other users' works, and even interact with other users! First, please choose whether you would like to login or register with a new account. You <b>CANNOT</b> continue without having an account.<br><br></font>
<form action="/redirection" method="POST">
<button type ="submit" name="submit" value="Login"><font size="8">Login!</font></button><br><br><br>
<button type ="submit" name="submit" value="Register"><font size="8">Register!</font></button><br>
</form>
<br><br>
</center>
</body>
</html>
