<!DOCTYPE html>
<html>
<head>
<title>Make an account!</title>
</head>
<body>
  <center>
<h1><b>Please Make an Account!</b></h1>
<br>
  <font size = "8" color = "red">
  {% with msgs = get_flashed_messages() %}
  {% for msg in msgs %}
  {{msg}}
  {% endfor %}
  {% endwith %}
  {% block content %}
  </font>
<br>
<form action="/login" method="POST">
New Username <input type ="text" name = "user" placeholder="TYPE USERNAME HERE" size="35"><BR><br>
New Password <input type = "password" name = "pass" placeholder="TYPE PASSWORD HERE" size="35"><BR><br>
Confirm Password <input type = "password" name = "pass2" placeholder="CONFIRM PASSWORD" size="35"><BR><br>
<button type="submit"><font size="5">Submit!</font></button>
</form>
<br><br>
{% endblock %}
</center>
</body>
</html>
