<!DOCTYPE html>
<html>
<head>
<title>Create an Account!</title>
</head>
<body>
<center>
<h1><b>Please Create an Account</b></h1><br>
<font size = "5" color = "red">
{% with msgs = get_flashed_messages() %}
{% for msg in msgs %}
{{msg}}
{% endfor %}
{% endwith %}
</font>
<br><br><br>
<font size="5">
<form action="/register" method="POST">
Username <input type ="text" name = "username" placeholder="TYPE USERNAME HERE" size="35"><BR><br>
Password <input type = "password" name = "password" placeholder="TYPE PASSWORD HERE" size="35"><BR><br>
Confirm Password <input type = "password" name = "password2" placeholder="TYPE PASSWORD HERE" size="35"><BR><br>
<input type="submit" name="submit" value="Submit">
</form>
</font>
<br><br>
</center>
</body>
</html>
