<!DOCTYPE html>
<html>
<head>
<title>{{username}}'s BlogSpot!</title>
</head>
<body>
<center>
<h1><b>Welcome {{username}}!</b></h1>
<h3>Here is the table that shows all of your blogs</h3>
<table>
  <tr>
    <th> Title </th>
    <th> Blog </th>
  </tr>

{% for item in collection %}
  <tr>

     <td>
        {{ item }}
     </td>
     <td>
        {{ collection[item] }}
     </td>
  </tr>
{% endfor %}
</table>
<br><br>
<form action="/redirection3" method="POST">
<input type ="submit" name="submit" value="Home"><br><br>
<input type ="submit" name="submit" value="Logout">
</form>
</center>
</body>
</html>
