<!DOCTYPE html>
<html>
<head>
<title>{{username}}'s BlogSpot!</title>
</head>
<body>
<center>
<h1><b>Welcome {{username}}!</b></h1>
<h3>Here is the table that shows all of your blogs and even gives you a chance to edit them.</h3>
{% for item in collection %}
<form action="/editblog" method="POST">
<input type="radio" name="blog" value={{collection[item]}}> {{item}}:  {{collection[item]}}<br><br>
{% endfor %}
<input type="submit" name="Submit">
</form>
<br><br>
<form action="home" method="POST">
<input type ="submit" name="submit" value="Home">
</form>
<br><br>
<form action="/loggedout" method="POST">
<input type ="submit" name="submit" value="Logout">
</form>
</center>
</body>
</html>
